git+https://github.com/wx-middle/libs-middle.git
affine
asttokens
attrs
Cartopy
certifi
cffi
cfgrib
cftime
charset-normalizer
click
click-plugins
cligj
cloudpickle
colorama
comm
contourpy
cycler
dask
debugpy
decorator
dotenv
eccodes
ecmwf-opendata
executing
findlibs
fiona
flexcache
flexparser
fonttools
fsspec
geopandas
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
kiwisolver
locket
matplotlib
matplotlib-inline
MetPy
multiurl
nest-asyncio
netCDF4
numpy
packaging
pandas
parso
partd
pendulum
pillow
Pint
platformdirs
pooch
prompt_toolkit
psutil
pure_eval
pycparser
Pygments
pyogrio
pyparsing
pyproj
pyshp
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
rasterio
regionmask
requests
scipy
Shapely
six
stack-data
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
wget
xarray
zipp
